<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Íntern</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="bgg">
    <nav class="navbar navbar-light header nbg" >
        <ul>
          <li style="margin-left: 50px;" class='headerTitle'><a href="/">MIR</a></li>
          <li style='float: right; margin-right: 50px; margin-top: 1px;'><a href="/team">Team</a></li>
          <li style='float: right; margin-top: 1px;'><a href="/query">Queries</a></li>
        </ul>
    </nav>

    <!-- Advisors -->
    <div class="container">
        <div class="row">
          <div class="text-center heading">
              <br><br>
            <h2>Advisors</h2>
          </div>
          <br>
        </div>
        <div class="row mycard">
          
          <div class="col-md-4 col-sm-4 col-xs-12 eachCard">
            <div class="row section-info ourTeam-box text-center">
              <div class="col-md-12 section1">
                <img src="/static/imgs/directorsir.jpg">
              </div>
              <div class="col-md-12 section2 pb-3">
                <p>Professor Sivaji Bandyopadhyay</p>
                <span>The Director, <br>National Institute of Technology Silchar</span>
                <p></p>
              </div>
              <div class="col-md-12 section3">
                <a href= "https://mail.google.com/mail/u/0/?view=cm&fs=1&to=director@nits.ac.in"> <i class="fa fa-envelope" aria-hidden="true"></i> </a>
                <a href="https://www.linkedin.com/in/sivaji-bandyopadhyay-a3790569/"> <i class="fa fa-linkedin" aria-hidden="true"></i> </a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-4 col-xs-12 eachCard">
            <div class="row section-danger ourTeam-box text-center">
              <div class="col-md-12 section1">
                <img src="/static/imgs/parthasir.jpg">
              </div>
              <div class="col-md-12 section2 pb-3">
                <p>Dr. Partha Pakray</p>
                <span>Assistant Professor, <br>National Institute of Technology Silchar<br></span>
                <p></p>
              </div>
              <div class="col-md-12 section3">
                <a href= "https://mail.google.com/mail/u/0/?view=cm&fs=1&to=partha@cse.nits.ac.in"> <i class="fa fa-envelope" aria-hidden="true"></i> </a>
                <a href="https://www.linkedin.com/in/dr-partha-pakray-09a86a52/"> <i class="fa fa-linkedin" aria-hidden="true"></i> </a>
              </div>
            </div>
          </div>
        </div>
        <br>
    </div>
    <!-- Advisors End -->



    <!-- Students 1 -->
    <div class="container">
    <div class="row">
        <div class="text-center heading">
          <h2>Students</h2>
        </div>
        <br>
      </div>
      <div class="row mycard">
        
        <div class="col-md-4 col-sm-4 col-xs-12 eachCard">
          <div class="row section-info ourTeam-box text-center">
            <div class="col-md-12 section1">
              <img src="/static/imgs/pankajsir.jpg">
            </div>
            <div class="col-md-12 section2 pb-3">
              <p>Pankaj Kundan Dadure</p>
              <span>PhD Research Scholar, <br>National Institute of Technology Silchar</span>
              <p></p>
            </div>
            <div class="col-md-12 section3">
                <a href= "https://mail.google.com/mail/u/0/?view=cm&fs=1&to=pankaj_rs@cse.nits.ac.in"> <i class="fa fa-envelope" aria-hidden="true"></i> </a>
                <a href="https://www.linkedin.com/in/pankaj-dadure-76685614b/"> <i class="fa fa-linkedin" aria-hidden="true"></i> </a>
                <a href="#"> <i class="fa fa-github" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-12 eachCard">
          <div class="row section-danger ourTeam-box text-center">
            <div class="col-md-12 section1">
              <img src="/static/imgs/abhishek.jpeg">
            </div>
            <div class="col-md-12 section2 pb-3">
                <p>Abhishek Kumar Thakur</p>
                <span>BTech Student, <br>National Institute of Technology Silchar</span>
                <p></p>
            </div>
            <div class="col-md-12 section3">
                <a href= "https://mail.google.com/mail/u/0/?view=cm&fs=1&to=abhishekthakur_ug@cse.nits.ac.in"> <i class="fa fa-envelope" aria-hidden="true"></i> </a>
            <a href="https://www.linkedin.com/in/abkrth/"> <i class="fa fa-linkedin" aria-hidden="true"></i> </a>
            <a href="https://github.com/abkrth/"> <i class="fa fa-github" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
<!-- Students 1 -->


<!-- Students 2 -->
<div class="container">
    <br>
  <div class="row mycard">
    
    <div class="col-md-4 col-sm-4 col-xs-12 eachCard">
      <div class="row section-info ourTeam-box text-center">
        <div class="col-md-12 section1">
          <img src="/static/imgs/manisha.JPG">
        </div>
        <div class="col-md-12 section2 pb-3">
            <p>Manisha Beriya</p>
            <span>BTech Student, <br>National Institute of Technology Silchar</span>
            <p></p>
        </div>
        <div class="col-md-12 section3">
            <a href= "https://mail.google.com/mail/u/0/?view=cm&fs=1&to=manisha_ug@cse.nits.ac.in"> <i class="fa fa-envelope" aria-hidden="true"></i> </a>
                <a href="https://www.linkedin.com/in/manisha-beriya/"> <i class="fa fa-linkedin" aria-hidden="true"></i> </a>
                <a href="https://github.com/manisha-beriya"> <i class="fa fa-github" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-4 col-xs-12 eachCard">
      <div class="row section-danger ourTeam-box text-center">
        <div class="col-md-12 section1">
          <img src="/static/imgs/me.jpg">
        </div>
        <div class="col-md-12 section2 pb-3">
            <p>Rohit Raj</p>
            <span>BTech Student, <br>National Institute of Technology Silchar</span>
            <p></p>
        </div>
        <div class="col-md-12 section3">
            <a href= "https://mail.google.com/mail/u/0/?view=cm&fs=1&to=rohitraj_ug@cse.nits.ac.in"> <i class="fa fa-envelope" aria-hidden="true"></i> </a>
            <a href="https://www.linkedin.com/in/rohitraj-11/"> <i class="fa fa-linkedin" aria-hidden="true"></i> </a>
            <a href="https://github.com/rohitraj-11"> <i class="fa fa-github" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Students 2 -->


<br>
<hr>
</div>
        <footer>
            
            <img src='/static/imgs/logo.png'  class="center">
            <!-- <br> -->
            <div class="lab">
                <span>Centre for Natural Language Processing (CNLP),</span>
                <span>NATIONAL INSTITUTE OF TECHNOLOGY SILCHAR</span>
            </div>
        </footer>
        <br><br>
    </div>
</body>
</html>